.ok{
    font-size: x-large;
    color: blueviolet;
    background-color: bisque;
}

.intro{
    font-family:'Times New Roman', Times, serif;
    color: rgb(241, 220, 199);
    background-color: rgb(180, 166, 150);
}
    
